<!--   Same for all pages -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <img src="/img/header.JPG" />
      <div class="title">
        <h1>Pirinexus</h1>
        <h2>La aventura en dos ruedas</h2>
      </div>
    </header>

    <nav class="nav-bar">
      <ul class="nav-bar-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/etapas">Etapas</a></li>
      </ul>
    </nav>
    <div class="container">
      <!--   Same for all pages end -->
      <article class="content">
        <h3>Cómo es Pirinexus?</h3>
        <p>
          Aquí explicar sobre Pirinexus y sus rutas. Aquí explicar sobre
          Pirinexus y sus rutas. Aquí explicar sobre Pirinexus y sus rutas.
          Aquí explicar sobre Pirinexus y sus rutas. Aquí explicar sobre
          Pirinexus y sus rutas. Aquí explicar sobre Pirinexus y sus rutas.
        </p>
      </article>
      <article>
        <div class="video">
          <video controls src="/video/javi.mp4"></video>
        </div>
      </article>

      <!--   Same for all pages -->
    </div>
    <footer>
      <span>Made by bikers for bikers</span>
    </footer>
  </body>
</html>
